/* ======================= TAG SELECTORS ====================== */
body { background-color: #EAE2B6;
       line-height: 1.8;
    
}

h1 {color: #7F8B52; font-family: 'Benne', serif;}
h2 {color: #7F8B52; font-family: 'Benne', serif;}
p {color: #7F8B52; font-family: 'Benne', serif;}
a {color: #7F8B52; font-family: 'Benne', serif;
  font-size: 25px;
}


textarea {background-color: #EAE2B6}

/* ====================== CLASS SELECTORS ===================== */

/* #558776 */

.content {
    background-color: #EAE2B6;
}

/* ====================== NAV BAR (derived from W3 schools https://www.w3schools.com/howto/howto_js_navbar_sticky.asp ) ================== */
/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #A3A847;
  }

#navbar h1 {
  color: #558776;
  font-size: 70px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 5px;
}
  
  /* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #558776;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 40px;
  margin-top: 3px;
  margin-bottom: 3px;
  }
  
/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}