{% extends "base.html" %}
{% block title %}{{ recipe }} Ingredients{% endblock %}
{% block header %}
{% endblock %}
	{% block content %}
	<h1>Welcome to RecComSended: Recipe Ingredients for {{ recipe }}!</h1>
	<hr>
	<body>
		<dl>
		{% for key, value in rec_ingredients.items() %}
			<dt><h2>{{ key|e }}</h2></dt>
			<dd><h2>{{ value|e }}</h2></dd>
			<hr>
		{% endfor %}
		</dl>
	{% endblock%}
	</body>
</html>


<!--
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>RecComSended Recipe Page</title>
	<link rel="stylesheet" href="static/styles.css">

</head>

<body id="recipe">

	<h1>Welcome to RecComSended: Recipe Ingredients for {{ recipe }}!</h1>

	<dl>
	{% for key, value in rec_ingredients.items() %}
		<dt><h2>{{ key|e }}</h2></dt>
		<dd><h2>{{ value|e }}</h2></dd>
		<hr>
	{% endfor %}
	</dl>

=================== 

</body>
</html>
-->