<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>RecComSended Recipe Page</title>
	<link rel="stylesheet" href="static/styles.css">

</head>

<body id="recipe">

	<h1>Welcome to RecComSended: Recipe Ingredients for {{ recipe }}!</h1>

	<dl>
	{% for key, value in rec_ingredients.items() %}
		<dt><h2>{{ key|e }}</h2></dt>
		<dd><h2>{{ value|e }}</h2></dd>
		<hr>
	{% endfor %}
	</dl>
	<!-- 
	<ul>
	{% for ingredients in recipes_list.values() %}
		<p>{{ recipe }}</p>
		<dl>
		{% for ingredient, measure in ingredients.items() %}
			<dt>{{ ingredient|e }}</dt>
			<dd>{{ measure|e }}</dd>
			<hr>
		{% endfor %}
	</dl>
	{% endfor %}
	</ul>

	<dl>
	{% for key, value in recipes_list.items() %}
		<dt>{{ key|e }}</dt>
		<dd>{{ value|e }}</dd>
		<hr>
	{% endfor %}
	</dl>
-->

</body>
</html>